@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
}

.heading-primary {
  margin-bottom: 6rem;
  text-transform: uppercase;
  color: $color-white;

  &--main {
    font-size: 3.7rem;
    display: block;
    letter-spacing: 1rem;
    font-weight: 400;
    animation: dropdown 0.9s ease-out;
    transition: all 0.2s;
  }

  &--sub {
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    letter-spacing: 0.6rem;
    animation: movetoright 1s ease-out forwards 1s;
    transition: all 0.2s;
    opacity: 0;
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: 1rem;
  font-weight: 700;
  background: linear-gradient(to right, $color-text-btn, $color-white);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  display: inline-block;
  animation: highlights 2s ease-in-out backwards;

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tartiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
