.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-mideum {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-margin-top-bigs {
  margin-top: 5rem;
}

.u-text-center {
  text-align: center;
}
